﻿@model Clinic.Models.Record

@{
    ViewBag.Title = "Insert Record";
    var patientId = ViewBag.Id;
}

<h2>InsertRecord</h2>
@patientId
<form action="@Href("~/Records/InsertRecord/" + patientId)" method="post">
    @Html.ValidationSummary(false)

    <fieldset>
        @Html.HiddenFor(model => model.Id)
        <br/>
        <div class="form-group">
            @Html.LabelFor(model => model.Title, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new {@class = "form-control"})
            </div>
        </div>
        @Html.HiddenFor(model => model.Date, new {Value = DateTime.Now.ToString("dd/MM/yyyy")})
        <div class="form-group">
            @Html.LabelFor(model => model.Description, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Description, new {@class = "form-control"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Insert Record!" class="btn btn-default"/>
            </div>
        </div>
    </fieldset>
 </form>