﻿@using Clinic.Models
@model Clinic.Models.Patient

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <div>First Name : @Model.FirstName</div>
    <div>Last Name : @Model.LastName</div>
    <div>Date of Birth: @Model.DateOfBirth</div>
    <div>Address: @Model.Address</div>
    <div>Date Commenced : @Model.DateCommenced</div>
    <div>Contact Number : @Model.ContactNumber</div>
</div>
<hr/>
<a href="@Href("~/Records/InsertRecord/" + Model.Id)">Insert New Record</a>
<hr/>
<div>
    @foreach(Record record in Model.Records.OrderBy(x => x.Date))
    {
        <div>Title : @record.Title</div>        
    }
</div>