﻿@using Clinic.Models;
@model IEnumerable<Patient>

@{
    ViewBag.Title = "Index";
}

@Html.ActionLink("Create New Patient", "Create")
<hr/>
@foreach (Patient patient in Model)
{
    <div>
        <span>@patient.LastName ,</span><span>@patient.FirstName</span> |
        @Html.ActionLink("Edit", "Edit", new {id = patient.Id}) |
        @Html.ActionLink("Details", "Details", new {id = patient.Id}) |
        @Html.ActionLink("Delete", "Delete", new {id = patient.Id})
    </div>                
}
